.TiptapRichTextEditor {
  background-color: #eee;
}
.TiptapRichTextEditorContent {
  background-color: #f1f1f1;
}

/* Basic editor styles */
.ProseMirror {
  background-color: #fff;
  min-height: 20rem;
  box-shadow: 0 0 0 1px #33333355 inset;
  padding: 1rem;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: #616161;
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: inherit;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #0d0d0d;
}

.ProseMirror hr {
  border: none;
  border-top: 1px solid #222;
  margin: 2rem 0;
}

.TipTapIconsStyling {
  background-color: #fff;
  padding: 0.5rem;
  margin: none;
  color: #333;
  cursor: pointer;
}

.TiptapRichTextEditorContent button.is-active .TipTapIconsStyling {
  background-color: #333333;
  color: #eee;
}

.TiptapRichTextEditorContent .TextEditorMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  background-color: #333333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.TiptapRichTextEditorContent .TextEditorMenuContent {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.TiptapRichTextEditorContent .TextEditorMenuContent .sectionFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.TiptapRichTextEditorContent .TextEditorMenuContent .sectionSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.demoDisplayRichTextEditorContent {
  padding: 2rem;
  word-wrap: break-word;
  box-shadow: 0 0 0 2px #fff inset;
  margin-top: 1rem;
}
