.ShowAllPublicArticles {
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ShowAllPublicArticlesContent {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, 17rem);
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.publicArticlesAreLoading {
	width: 100%;
	height: 50vh;
	color: var(--clr-3);
	display: flex;
	justify-content: center;
	align-items: center;
}
