.InputFormTemplateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-inline: 0.5rem;
}

.InputFormTemplateContainer input {
  width: 100%;
  font-family: inherit;
  padding: 0.2rem 0.3rem;
}

.InputFormTemplateContainer label {
  width: 100%;
  text-align: left;
  padding-block: 0.5rem;
}
