.InputFormTemplateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.InputFormTemplateContainer input {
  width: 100%;
}

.InputFormTemplateContainer label {
  width: 100%;
  text-align: left;
}
