.UserSideBarMenu {
	padding: 1rem;
	background-color: var(--clr-1);
	z-index: 9;
	position: fixed;
	right: 0;
	top: 2.5rem;
	height: 100%;
	width: 12rem;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.UserSideBarMenuContent {
	background-color: var(--clr-1);
}

.userMenuItem {
	margin-top: 1rem;
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.8rem;
}

.NavLinkMenuItemStyling {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavLinkMenuItemStyling a {
	text-align: start;
	color: var(--clr-3);
	text-decoration: none;
	width: 100%;
	padding: 0.2rem 0.4rem;
}

.NavLinkMenuItemStyling a:hover {
	background-color: var(--clr-2);
}

.closeSideBarCross {
	position: absolute;
	top: 0.2rem;
	right: 0.3rem;
	font-size: 1.7rem;
	color: var(--clr-4);
	cursor: pointer;
}

.closeSideBarCross:hover {
	color: var(--clr-3);
}
