.UserArticleCard {
  max-width: 16.5rem;
  box-shadow: 0 0 4px var(--clr-3, #333);
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserArticleCardContent {
}

.UserArticleCard .article_image_url {
  background-color: var(--clr-3, #456);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 12rem;
  overflow: hidden;
}

.UserArticleCard .article_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.5rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  background-color: cornsilk;
}

.UserArticleCard .article_body {
  padding: 1rem;
}
.UserArticleCard .article_id {
  padding: 1rem;
}
.UserArticleCard .article_creation_date {
  padding: 1rem;
}
.UserArticleCard .article_is_public {
  padding: 1rem;
}
