.UserArticleCard {
  box-shadow: 0 0 2px var(--clr-3, #efefef);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  padding-bottom: 0.5rem;
}

.UserArticleCardContent {
  background-color: rgb(71, 169, 255);
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 17rem);
}

.UserArticleCard .article_image_url {
  background-size: cover;
  background-repeat: no-repeat;
  height: 12rem;
  overflow: hidden;
}

.UserArticleCard .article_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.5rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  background-color: cornsilk;
}

.UserArticleCard .article_body {
  padding: 0.5rem;
  color: var(--clr-3);
}

.UserArticleCard .article_creation_date {
  color: var(--clr-3);
  text-align: right;
  padding: 0.2rem 0.5rem 0 0;
}
.UserArticleCard .article_is_public {
  color: var(--clr-3);
  text-align: right;
  padding: 0.2rem 0.5rem 0 0;
}
