.CreateArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 1rem;
  height: 100%;
}

.CreateArticleContent {
  width: 17.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-1);
}

.createArticlePageName {
  background-color: var(--clr-3);
  color: var(--clr-2);
  width: 100%;
  text-align: center;
  padding-block: 2rem;
}

.formCreateArticle {
  width: 100%;
}

.buttonOnSubmitCreateNewArticleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.buttonOnSubmitCreateNewArticle {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
