.RootLayout {
	background-color: var(--clr-2);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

.RootLayoutContent {
	flex-direction: column;
	padding-top: 2.5rem;
	max-width: 960px;
	padding-bottom: 5.5rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.mainAllOutputedArticles {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.RootLayoutContent > * {
	width: 100%;
}
