.RootLayout {
  background-color: var(--clr-2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.RootLayoutContent {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}
