.GetUserFullArticleTemplate {
  background-color: cadetblue;
}

.GetUserFullArticleTemplateContent {
  background-color: burlywood;
  padding: 1rem;
}

.GetUserFullArticleTemplateContent .article_image_url {
  width: 100%;
  height: 10rem;
}
