.GetUserArticles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: cadetblue;
}
.GetUserArticlesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17rem);

  gap: 1rem;
  border: 5px solid #fff;
  background-color: purple;
}
