.GetUserArticles {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
}
.GetUserArticlesContainer {
	padding-top: 1.7rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, 16rem);
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.createArticleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.stylingTHis {
	height: 100%;
}
.stylingTHis a {
	text-decoration: none;
	color: var(--clr-3);
}

.createArticleContainer div:first-of-type {
	font-size: 4rem;
}

.createArticleContainer div:last-of-type {
	font-size: 0.8rem;
	text-transform: uppercase;
	box-shadow: 0 0 0 0.03rem var(--clr-3);
	padding: 0.5rem 1rem;
}
