.FullPublicArticle {
	background-color: red;
}

.FullPublicArticleContent {
	padding: 1rem;
	background-color: yellow;
}

.article_image_url {
}
.article_title {
}
.article_body {
}
.article_creation_date {
}
