.SignUpContainer,
.SignInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--clr-2);
}
.SignUpContainerContent,
.SignInContainerContent {
  background-color: var(--clr-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17.5rem;
  position: relative;
}

.formSignStyling {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 1.5rem;
}

.inputSignStyling {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.4rem;
}

.InputTextStyling {
  padding: 0.2rem;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}

.submitSignStyling {
  position: absolute;
  bottom: 0;
  border: none;
  cursor: pointer;
  padding: 0.4rem 0;
  width: 100%;
  background-color: var(--clr-2);
  color: var(--clr-3);
  box-shadow: 0 0 1px var(--clr-3);
}
.submitSignStyling:hover {
  background-color: var(--clr-3);
  color: var(--clr-2);
}
.submitSignStyling:active {
  background-color: var(--clr-1);
  color: var(--clr-3);
  box-shadow: 0 0 1px var(--clr-3);
}

.formStitleStyling {
  padding: 1.5rem;
  background-color: var(--clr-3);
  color: var(--clr-2);
  width: 17.5rem;
  height: 6rem;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
}

.isErrorFormStitleStyling {
  padding: 1.5rem;
  background-color: var(--clr-2);
  color: var(--clr-3);
  width: 17.5rem;
  height: 6rem;
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 0 1px var(--clr-3);
}

.labelSignStyling {
  width: 100%;
}
