.PublicArticleHomeCard {
  cursor: pointer;
  box-shadow: 0 0 1px var(--clr-3, #efefef);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 0.5rem;
  height: 21rem;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.PublicArticleHomeCard:hover {
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  scale: 1.01;
}

.PublicArticleHomeCardContent {
  width: 100%;
}

.PublicArticleHomeCard a {
  color: var(--clr-3);
  text-decoration: none;
}

.PublicArticleHomeCardContent .article_image_url {
  width: 100%;
  aspect-ratio: calc(16 / 9);
  background-color: var(--clr-3, #456);
  background-size: cover;
  background-repeat: no-repeat;
}

.PublicArticleHomeCardContent .article_title {
  color: var(--clr-5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.5rem;
  padding: 0.7rem;
  font-size: 1.2rem;
}

.PublicArticleHomeCardContent .article_body {
  width: 100%;
  padding: 0.5rem;
  color: var(--clr-3);
  height: 9rem;
  width: 100%;
  overflow: hidden;
}

.PublicArticleHomeCardContent .article_creation_date {
  width: 100%;
  text-align: right;
  padding: 0.1rem 0.5rem;
  background-color: var(--clr-3);
  color: var(--clr-2);
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
